body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(243, 241, 241);
    background-size: 100% 100%; /* Cobrir toda a largura e altura da página */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixar o plano de fundo para que ele não role com a página */
    height: 100%; /* 100% da altura da janela de visualização */
}

.top-bar {
  background-color: black;
  height: 24px; /* Altura desejada da barra */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999; /* Ajuste o valor do z-index conforme necessário */
  display: flex;
  justify-content: flex-end; /* Alinhar o texto na extrema direita */
  align-items: center; /* Centralizar verticalmente o texto */
}

.top-bar-text {
  color: white;
  margin-right: 10px; /* Espaçamento entre o texto e a borda direita */
}

.bottom-bar {
  height: 71px; /* Altura desejada da segunda barra */
  width: 100%;
  background: linear-gradient(45deg, #530101, #800080); /* Degrade de azul escuro a roxo */
  position: absolute;
  top: 4px; /* Posicione abaixo da barra preta */
  left: 0;
  z-index: 9998; /* Coloque abaixo da barra preta */
}

/* Estilos para o menu */
.tabs {
  display: flex;
  justify-content: center;
  margin: 0;
  position: relative;
  top: 75px;
  height: 75px;
  background-color: white;
}

/* Estilos para os botões do menu */
.tab-button {
  position: fixed;
  border: none;
  padding: 20px 25px;
  cursor: pointer;
  text-align: center;
  position: relative;
  background-color: white; /* Fundo branco no estado normal */
  color: black; /* Cor do texto no estado normal */
  overflow: hidden; /* Esconder qualquer conteúdo que saia do botão */
  margin: 0 0px; /* Espaçamento horizontal entre os botões */
}


.tab-button.active {
  background-color: rgb(249, 176, 66); /* Fundo amarelo na aba ativa */
  color: black; /* Cor do texto na aba ativa */
}

.tab-button::before,
.tab-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: rgb(249, 176, 66); /* Cor do efeito de abertura das cortinas */
  transform-origin: center; /* Origem da transformação no centro */
  transition: width 0.3s ease-in-out; /* Efeito de transição suave */
}

.tab-button::before {
  transform: translateX(-50%); /* Ajuste para centralizar o elemento */
}

.tab-button::after {
  transform: translateX(-50%); /* Ajuste para centralizar o elemento */
}


.tabs .tab-button:first-child {
  margin-left: 5px;
}

.tabs .tab-button:last-child {
  margin-right: 0;
}

.tab-button:hover::before,
.tab-button:hover::after {
  width: 100%; /* Ao passar o mouse, a largura se torna 100% */
  color: white; /* Cor do texto no hover */
}

.social-icons {
    position: absolute;
    top: 43px; /* Ajuste a posição vertical conforme necessário */
    right: 10px; /* Ajuste a posição horizontal conforme necessário */
}

.social-icons a {
    margin-left: 10px; /* Espaço entre os ícones */
}


.facebook-icon {
    color: #1569d8; /* Cor do Facebook (azul) */
}

.instagram-icon {
    color: #cc379d; /* Cor do Instagram (rosa) */
}


.tab-content {
  align-items: center; /* Centralize o conteúdo horizontalmente */
  text-align: center; /* Centralize o texto dentro do conteúdo */
  display: none;
  padding: 40px;
  margin-top: 50px;
}

.tab-content.active {
  display: block;
}

.tab-content-container {
  background-color: #aca9a9; /* Cor de fundo vermelha (por exemplo) */
  max-width: 100%; /* Ocupa todo o espaço horizontal */
  margin: 0 auto; /* Centraliza o container horizontalmente, se necessário */
  padding: 20px; 
  box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}


.tab-content h2 {
  text-align: left; /* Alinha o título à esquerda */
}

.tab-content p{
  text-align: justify; /* Alinha o título à esquerda */
}

.image-section {
    display: flex;
    justify-content: space-between; /* Distribui as imagens com espaçamento igual */
    align-items: center;
    margin-top: 20px;
  }
  
.image-item {
    display: flex;
    flex-direction: column; /* Alinhar conteúdo verticalmente */
    align-items: center; /* Centralizar horizontalmente */
    text-align: center; /* Centralizar o texto horizontalmente */
  }
  
.image-item img {
    max-width: 100%;
    height: auto;
    width: 150px;
    padding: 10px; /* Adiciona espaço interno à imagem */
    border: 1px solid #ccc; /* Adiciona uma borda fina */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
  }
  
.image-item p {
    font-weight: bold;
    align-self: center; /* Centraliza verticalmente o texto */
  }
  
.image-section2 {
    display: flex;
    justify-content: space-between; /* Distribui as imagens com espaçamento igual */
    align-items: center;
    margin-top: 15px;
  }
  
.image-item2 {
  display: flex;
  flex-direction: column; /* Alinhar conteúdo verticalmente */
  align-items: center; /* Centralizar horizontalmente */
  text-align: center; /* Centralizar o texto horizontalmente */
  }
  
.image-item2 img {
    max-width: 100%;
    height: auto;
    width: 210px;
    padding: 10px; /* Adiciona espaço interno à imagem */
    border: 1px solid #ccc; /* Adiciona uma borda fina */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
  }
  
.image-item2 p {
    align-self: center; /* Centraliza verticalmente o texto */
    font-weight: bold;
  }
  
.image-section3 {
    display: flex;
    justify-content: space-between; /* Distribui as imagens com espaçamento igual */
    align-items: center;
    margin-top: 20px;
  }
  
.image-item3 {
    text-align: center;
    flex: 1; /* Distribui o espaço igualmente entre as imagens */
    margin: 0 30px; /* Espaçamento horizontal entre as imagens */
  }
  
.image-item3 img {
    max-width: 100%;
    height: auto;
    width: 210px;
    padding: 10px; /* Adiciona espaço interno à imagem */
    border: 1px solid #ccc; /* Adiciona uma borda fina */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
  }
  
.image-item3 p {
    align-self: center; /* Centraliza verticalmente o texto */
    font-weight: bold;
  }
  

  /* Estilizações para a lista não ordenada */
  .clickable-list {
    margin-top: 20px;
  }
  
  .clickable-list ul {
    list-style: none;
    padding: 0;
  }
  
  .clickable-list li {
    margin-bottom: 10px;
  }
  
  .clickable-list a {
    display: block;
    padding: 10px;
    background-color: lightgray;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .clickable-list a:hover {
    background-color: gray;
    color: white;
  }




  /* Estilos para o formulário */
form {
  max-width: 500px; /* Define a largura máxima do formulário */
  margin: 0 auto; /* Centraliza o formulário horizontalmente */
  padding: 20px;
  background-color: #aeadad;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

/* Estilos para os rótulos dos campos */
label {
  display: block; /* Coloca cada rótulo em uma nova linha */
  margin-bottom: 5px;
}

/* Estilos para os campos de entrada de texto */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #737272;
  border-radius: 5px;
}

/* Estilos para o botão de envio */
input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #454545;
}


.back-bar {
  background-color: black;
  height: 30px; /* Altura desejada da barra */
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999; /* Ajuste o valor do z-index conforme necessário */
  display: flex;
  justify-content: flex-end; /* Alinhar o texto na extrema direita */
  align-items: center; /* Centralizar verticalmente o texto */
}

.back-bar-text {
  color: white;
  margin-right: 10px; /* Espaçamento entre o texto e a borda direita */
}